<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilos.css">
    <title>Document</title>
</head>
<header id="header">
    <nav id="nav-bar">
    <ul>
      <li><a class="nav-link" href="/home">Home</a></li>
      <li><a class="nav-link" href="/works">Works</a></li>
      <li><a class="nav-link" href="/images">Images</a></li>
    </ul>
  </nav>
  </header>
<body>
    <p id="life"> Javier Gutiérrez Álvarez (born 17 January 1971) is a Spanish actor. After his 2002 acting debut in cinema, he developed an early career primarily in comedy films, likewise earning much popularity for his sidekick role as Satur in adventure television series Águila Roja. His performance in 2014 crime thriller Marshland earned him wide acclaim and recognition. He has since starred in films such as The Motive, Champions and The Daughter and television series such as Estoy vivo and Vergüenza. </p>
</body>
</html>