<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilos.css">
    <title>Document</title>
</head>
<header id="header">
    <nav id="nav-bar">
    <ul>
      <li><a class="nav-link" href="/about">About</a></li>
      <li><a class="nav-link" href="/works">Works</a></li>
      <li><a class="nav-link" href="/images">Images</a></li>
    </ul>
  </nav>
  </header>
<body>
    <h1>Soy Javier Gutierrez</h1>
    <img id="foto_principal" src="\imagenes\javier1.jpg">
    <p>Actor, productor y director</p>

</body>
</html>