<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilos.css">
    <title>Document</title>
</head>
<header id="header">
    <nav id="nav-bar">
    <ul>
      <li><a class="nav-link" href="/about">About</a></li>
      <li><a class="nav-link" href="/home">Home</a></li>
      <li><a class="nav-link" href="/works">Works</a></li>
    </ul>
  </nav>
  </header>
<body id="muchas_fotos">
    <img src="/imagenes/a.jpg">
    <img src="/imagenes/b.jpg">
    <img src="/imagenes/c.png">
    <img src="/imagenes/d.jpg">
    <img src="/imagenes/e.jpg">
    <img src="/imagenes/f.jpg">
    <img src="/imagenes/g.jpg">
    <img src="/imagenes/h.jpg">
    <img src="/imagenes/i.webp">
</body>
</html>