<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/estilos.css">
</head>
<header id="header">
    <nav id="nav-bar">
    <ul>
      <li><a class="nav-link" href="/about">About</a></li>
      <li><a class="nav-link" href="/home">Home</a></li>
      <li><a class="nav-link" href="/images">Images</a></li>
    </ul>
  </nav>
  </header>
<body>
    <ul class="pelis">
        <li>2002: El otro lado de la cama</li>
        <li>2005: El penalti mas largo del mundo</li>
        <li>2006: Un franco, 14 pesetas</li>
        <li>2007: Dias de cine</li>
        <li>2011: Aguila roja, la pelicula</li>
        <li>2014: Un franco, 40 pesetas</li>
        <li>2016: Los ultimos de Filipinas</li>
        <li>2020: Hogar</li>
        <li>2023: Lobo feroz</li>
    </ul>
</body>
</html>